<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wxhgxj.tio">

    <application
        android:name=".TIO"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsersActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserProfileActivity"
            android:parentActivityName=".UsersActivity" />
        <activity
            android:name=".ChatSectionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdateSettingActivity"
            android:parentActivityName=".SettingActivity" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".ChatSectionActivity" />
        <activity android:name=".CalendarActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EventsActivity"
            android:parentActivityName=".CalendarActivity" />
        <activity android:name=".UpdateEventActivity"
            android:parentActivityName=".CalendarActivity" />
        <activity android:name=".AddEventActivity"
            android:parentActivityName=".CalendarActivity" />
    </application>

</manifest>